*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
# fastlane specific
fastlane/Appfile
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# Compose Preview Screenshot reference images
app/src/screenshotTest*/reference/

# scan temporary files
fastlane/test_output
fastlane/README.md
*.apk

.kotlin/sessions
.kotlin/errors

.worktrees